<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture"></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>

<div class="cartBody col-xs-12 noPadding">
  <div class="col-md-10 col-md-offset-1" ng-class="{noPadding:windowSize<500}">
    <div class="col-xs-12" ng-if="windowSize>500">
      <h1 class="cartHead text-center">SHOPPING CART</h1></div>
    <div class="col-xs-12 text-center noPadding" ng-if="windowSize>500">
      <span><span class="roundCountActive">1</span><span class="arrowLink selected">Cart</span></span>
      <span><span class="roundCount">2</span><span class="arrowLink unselected">Add Address</span></span>
      <span><span class="roundCount">3</span><span class="unselected">Payment</span></span>
    </div>
    <div class="col-xs-12 noPadding cartDetailsSection" ng-if="windowSize>500"><a href="/collection" class="continueShopping">Continue Shopping</a></div>
    <div class="col-xs-12 noPadding">
      <div class="col-md-8 noPadding" ng-if="cartDetails.length && !smallScreen">
        <div class="col-xs-12  noPadding">
          <div class="col-xs-12 cardHead noPadding">
            <div class="col-xs-6">PRODUCT</div>
            <div class="col-xs-3">QUANTITY</div>
            <div class="col-xs-3">TOTAL</div>
          </div>
          <div class="col-xs-12 noPadding cartContent" ng-repeat="product in cartDetails" ng-class="{noMargin:$index === 0}" ng-animate="'animate'">
            <div class="col-xs-6 noPadding">
              <div class="col-xs-4 noPadding"><img ng-src="{{product.product_image}}" ng-click="goToProductDetails(product.product_sku, $index)" class="img-responsive crtPrdctImg"></div>
              <div class="col-xs-8 prdctDescr">
                <p>{{::product.product_title}}</p>
                <p class="prdtPrice">{{::product.sales_price | currency:'&#8377;': "" : 0}}</p>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="btnTextContainer">
                <button class="btn btn-default pull-left leftCartBtn" ng-click="subtractQuantity($index)" ng-disabled="product.quantity <= 1"></button>
                <input type="text" class="pull-left countText form-control" ng-model="product.quantity" readonly>
                <span  class="btn btn-default pull-left rightCartBtn" ng-click="addQuantity($index)"></span>
              </span>
            </div>
            <div class="col-xs-3">
              <p class="prdtPrice" style="margin-top:46px;"> {{product.sales_price*product.quantity | currency:'&#8377;': "" : 0}}</p>
            </div>
            <div class="col-xs-12">
              <button class="deleteIcon btn btn-default pull-right" ng-click="removeItem(product.product_sku, $index)">Delete</button>
              <button class="saveLaterBtn btn btn-default pull-right" ng-click="product.is_liked_by_me? removeItem(product.product_sku, $index):saveForLater(product.product_sku, product.product_id, $index, product.category_id)">Save for later</button>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-12 noPadding smCartMarginAdjst" ng-if="smallScreen && cartDetails.length">
        <div class="col-xs-12 noPadding cartContent" ng-repeat="product in cartDetails">
          <div class="col-xs-4 noPadding"><img ng-src="{{product.product_image}}" class="img-responsive crtPrdctImg" ng-click="goToProductDetails(product.product_sku)"></div>
          <div class="col-xs-8 prdctDescr">
            <p>{{product.product_title}}</p>
            <div class="col-xs-12 noPadding">
              <span class="prdtPrice pull-left smPrice"> {{product.sales_price | currency:'&#8377;': "" : 0}}</span>
              <span class="btnTextContainer pull-right">
                <button class="btn btn-default pull-left leftCartBtn" ng-click="subtractQuantity($index)" ng-disabled="product.quantity <= 1"></button>
                <input type="text" class="pull-left countText form-control" ng-model="product.quantity" readonly>
                <span  class="btn btn-default pull-left rightCartBtn" ng-click="addQuantity($index)"></span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 smBtnGrp">
            <button class="saveLaterBtn btn btn-default pull-left" ng-click="product.is_liked_by_me? removeItem(product.product_sku, $index):saveForLater(product.product_sku, product.product_id, $index, product.catalog_id)">Save for later</button>
            <button class="deleteIcon btn btn-default pull-left" ng-click="removeItem(product.product_sku, $index)">Delete</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 smOrdrDetl" ng-if="cartDetails.length">
        <div class="col-xs-12 cartItem noPadding">
          <div class="cardHead col-xs-12 cartRightHead">ORDER DETAILS</div>
          <div class="col-xs-12 cartContent noMargin">
            <div class="col-xs-12 cartPrice">
              <span class="pull-left">No of Products</span>
              <span class="pull-right cartCounts">{{$root.itemCount}}</span>
            </div>
            <div class="col-xs-12 cartPrice">
              <span class="pull-left">Item Total</span>
              <span class="pull-right cartCounts">{{$root.totalProductPrice| currency:'&#8377;': "" : 0}}</span>
            </div>
            <div class="col-xs-12 cartPrice">
              <span class="pull-left">Shipping & <br> Handling Fee</span>
              <span class="pull-right cartCounts"> {{handlingFee | currency:'&#8377;': "" : 0}}</span>
            </div>
            <div class="col-xs-12 finalSection">
              <span class="pull-left"><span class="youPay">You Pay</span>
              <br><span>(inclusive of all taxes)</span></span>
              <span class="pull-right finalAmount"> {{$root.totalProductPrice+handlingFee| currency:'&#8377;': "" : 0}}</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 noPadding smallScreenSticky">
          <button class="btn btn-default col-xs-12 checkoutBtn" ng-click="updateCart()">proceed to checkout</button>
        </div>
        <div class="col-xs-12 shippingMsg">
          <p><i>Please Note: There is no shipping charge for orders above Rs.800. If your order value is less than Rs.800 a shipping and handling charge of Rs.100 will apply.</i></p>
          <p><i>For certain pincodes free shipping and assembly are not provided. Additional shipping charges of 15% will be applied at checkout. You can see this message at the time of Pincode check for delivery feature / option</i></p>
        </div>
        <a href="/collection" ng-if="windowSize <= 500">
          <div class="col-xs-12 text-center cntinueShpng">
            <img src="../images/back.0961c2d6.png"> Continue Shopping
          </div>
        </a>

      </div>
    </div>
    <div ng-if="!cartDetails.length" class="emptyCart col-xs-12 text-center">Cart Empty</div>
  </div>
</div>
