<div class="col-md-10 col-md-offset-1 footer">
  <div class="col-xs-12 noPadding" style="margin-top:20px">
    <div class="col-md-2">
      <p class="footerHead">Top Categories</p>
      <p class="servicesSm" ng-class="{footerDrop: showCategories}" ng-click="showCategories =! showCategories">Top Categories <span class="glyphicon glyphicon-chevron-right pull-right"></span></p>
      <div ng-show="showCategories" >
        <p class="footerLinks"><a href="/" class="linkStyle">Collections</a></p>
        <p class="footerLinks"><a href="/designers" class="linkStyle">Designers</a></p>
        <p class="footerLinks"><a ng-click="goToTestimonial()" class="linkStyle">Testimonials</a></p>
        <p class="footerLinks"><a ng-click="goToQA()" class="linkStyle">Questions & Answers</a></p>
        <p class="footerLinks"><a ng-click="goToBlog()" href="http://content.homebliss.in/" class="linkStyle" target="_blank">Blog</a></p>
      </div>
      <div class="categoryLinks">
        <p class="footerLinks"><a href="/" class="linkStyle">Collections</a></p>
        <p class="footerLinks"><a href="/designers" class="linkStyle">Designers</a></p>
        <p class="footerLinks"><a ng-click="goToTestimonial()" class="linkStyle">Testimonials</a></p>
        <p class="footerLinks"><a ng-click="goToQA()" class="linkStyle">Questions & Answers</a></p>
        <p class="footerLinks"><a ng-click="goToBlog()" href="http://content.homebliss.in/" class="linkStyle" target="_blank">Blog</a></p>
      </div>
    </div>
    <div class="col-md-2">
      <p class="footerHead">Customer Service</p>
      <p class="servicesSm" ng-class="{footerDrop: showCustomer}" ng-click="showCustomer =! showCustomer">Customer Service <span class="glyphicon glyphicon-chevron-right pull-right"></span></p>
      <div ng-show="showCustomer" >
        <p class="footerLinks"><a href="/orderHistory" class="linkStyle">Track Order</a></p>
        <p class="footerLinks"><a href="" class="linkStyle">Features</a></p>
        <p class="footerLinks"><a href="" class="linkStyle">Press</a></p>
        <p class="footerLinks"><a href="/FAQ" class="linkStyle">FAQ's</a></p>
        <p class="footerLinks"><a href="/aboutUs" class="linkStyle">About Us</a></p>
      </div>
      <div class="customerLinks">
        <p class="footerLinks"><a href="/orderHistory" class="linkStyle">Track Order</a></p>
        <p class="footerLinks"><a href="" class="linkStyle">Features</a></p>
        <p class="footerLinks"><a href="" class="linkStyle">Press</a></p>
        <p class="footerLinks"><a href="/FAQ" class="linkStyle">FAQ's</a></p>
        <p class="footerLinks"><a href="/aboutUs" class="linkStyle">About Us</a></p>
      </div>
    </div>
    <div class="col-md-2">
      <p class="footerHead">Contact</p>
      <p class="servicesSm" ng-class="{footerDrop: showContact}" ng-click="showContact =! showContact">Contact <span class="glyphicon glyphicon-chevron-right pull-right"></span></p>
      <div ng-show="showContact">
        <!-- <p class="footerLinks"><a href="tel:08049170010 " class="linkStyle footerCall">080 49170010 </a></p> -->
        <!-- <p class="footerLinks"><a href="mailto:customerservice@homebliss.in" class="linkStyle footerEmail">customerservice@homebliss.in</a></p> -->
        <p class="footerLinks"><a class="linkStyle">Homebliss (Salar Online Wholesale Pvt. Ltd).<br/>#728,1st and 2nd floor, Grace Platina, CMH Road, Indiranagar<br/>Bengaluru - 560038<br/>INDIA</a></p>
      </div>
      <div class="showContact">
        <!-- <p class="footerLinks"><a href="tel:08049170010 " class="linkStyle footerCall">080 49170010 </a></p> -->
        <!-- <p class="footerLinks"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=customerservice@homebliss.in" target="_blank" class="linkStyle footerEmail">customerservice@homebliss.in</a></p> -->
        <p class="footerLinks"><span class="linkStyle">Address:<br/>Homebliss (Salar Online Wholesale Pvt. Ltd).<br/>#728,1st and 2nd floor, Grace Platina, CMH Road, Indiranagar<br/>Bengaluru - 560038<br/>INDIA</span></p>
      </div>
    </div>
    <div class="col-md-4 pull-right">
      <p class="footerRghtHead">Connect With</p>
      <a href="https://www.facebook.com/HomeBliss.in/" target="_blank"><span class="fb pull-left"></span></a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=app@homebliss.in" target="_blank" ng-if="windowSize >500"><span class="gmail pull-left" ></span></a>
      <a href="mailto:app@homebliss.in" ng-if="windowSize <=500"><span class="gmail pull-left"></span></a>
      <a href="https://in.pinterest.com/homebliss4913/" target="_blank"><span class="pinister pull-left"></span></a>
      <div class="col-xs-12 noPadding text-center">
        <p class="footerRghtHead">Download Our App</p>
        <a href="https://itunes.apple.com/pk/app/homeblissapp/id1115133702?mt=8" target="_blank"><img src="../images/ios.c79336ea.png" class="pull-left footerDwn"></a>
        <a href="https://play.google.com/store/apps/details?id=com.homebliss.customer" target="_blank"><img src="../images/gplay.aac286ef.png" class="pull-left palyStore"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 noPadding footerFeatures">
    <div class="col-md-4 col-xs-12 featureAdjustLeft">
      <p class="featureHead">Free Shipping</p>
      <p class="noMargin"> Minimum order value &#8377 800</p>
    </div>
    <div class="col-md-4 col-xs-12 featureAdjust">
      <p class="featureHead">30 Days Replacement Guarantee</p>
      <p class="noMargin"> Easy returns on your orders</p>
    </div>
    <div class="col-md-4 col-xs-12 featureAdjustRight" style="border-right:none">
      <p class="featureHead">100% Secure Shopping</p>
      <p class="noMargin">SSL encryption on all payments.</p>
    </div>
  </div>
</div>
<div class="col-xs-12  text-center bottomFooter">
  Homebliss. All rights reserved.<a href="/terms_and_conditions">&nbsp;Terms and Conditions&nbsp;</a> | <a href="/privacy_policy">&nbsp;Privacy Policy</a>
</div>
