<div class="col-md-10 col-md-offset-1 col-xs-12 noPadding saleContainer">
  <div class="col-xs-12">
    <h1 class="text-center saleHotDeal" ng-show="hotDeals.length"> Hot Deals</h1>
    <div class="col-xs-12 noPadding" style="border-bottom:1px solid #eee">
      <slick infinite="false" settings="slickConfig" slides-to-show="{{countOfProduct}}" slides-to-scroll="{{countOfProduct}}" ng-class="{twoCards:twoProducts && windowSize >500, oneCard:oneProduct  && windowSize >500}">
        <div class="col-xs-12 no collectionCard " ng-repeat="details in hotDeals">
          <div class="discntMsg" style="text-transform:capitalize;font-size:14px;padding-left:0">{{details.offer_quote}}</div>
          <div class="loadingForCard" ng-show="loading"></div>
          <spinner2 class="spinnerTwo" ng-show="loading"></spinner2>
          <div class="mainCollectionContainer collectionCardImage saleCardContainer">
            <span class="stripSection" ng-show="!details.oos">SALE, {{details.available_quantity}} in Stock!</span>
            <span class="stripSection" ng-show="details.oos">Sold out</span>
            <div class="imageContainer col-xs-12 noPadding text-center">
              <div class="col-xs-12 noPadding imageLoadingBg saleImgBanner" ng-class="{collectionImage1:templatetype == 1,collectionImage2:templatetype==2,collectionImage3:templatetype==3} ">
                <a href="/product/{{details.product_sku}}" ng-click="hotDealClicked(details.product_sku, details.product_title )"><img ng-src="{{::details.product_image}}" ng-show="collectionImageLoaded" class="collectionScreenImg saleBannerImg" imageonload="collectionImageLoaded = true" ng-init="collectionImageLoaded=false" alt="{{::details.catalog_title}}" ng-click="gotoCollectionDetails(details.catalog_id)"></a>
              </div>
              <div class="col-xs-12 saleTimerSection text-center">
                <div class="col-xs-12 noPadding">
                  <timer end-time="details.offer_ed" finish-callback="removeFromHotDeal($index)">
                    <span class="saleTimerCount">{{days|numberFixedLen:2}}</span> <span class="seprator">:</span>
                    <span class="saleTimerCount">{{hours|numberFixedLen:2}}</span> <span class="seprator">:</span>
                    <span class="saleTimerCount">{{minutes|numberFixedLen:2}}</span>
                    <span class="seprator">:</span><span class="saleTimerCount">{{seconds|numberFixedLen:2}}</span>
                  </timer>
                </div>
                <div class="col-xs-12 noPadding" style="padding-top:9px;"><span class="timerLabel">DD</span><span class="timerLabel">HH</span><span class="timerLabel">MM</span><span class="timerLabel">SS</span></div>
              </div>
            </div>

            <div class="col-xs-12 salePdctDetals noPadding" ng-click="gotoCollectionDetails(details.catalog_id)">
              <a href="/product/{{details.product_sku}}" ng-click="hotDealClicked(details.product_sku, details.product_title )">
                <h1 class="col-xs-12 noPadding saleProductTitle">{{::details.product_title}}</h1>
                <div class="col-xs-12 noPadding" style="margin: 20px 0;">
                  <span class="pull-left salePriceDesn"><strike>{{details.sales_price| currency:'&#8377;': "" : 0}}</strike></span>
                  <span class="pull-left saleOgPrice salePriceDesn">{{details.flashsale_price| currency:'&#8377;': "" : 0}}</span>
                  <button class="btn btn-default viewOrBuy pull-right">View / Buy</button </div>
              </a>
              </div>
            </div>
          </div>
          <slick>
        </div>
    </div>

    <div class="col-xs-12">
      <h1 class="text-center saleHotDeal" ng-show="upcomingDeals.length"> UPCOMING Deals</h1>
      <div class="col-xs-12 noPadding">
        <slick infinite="false" settings="slickConfig" slides-to-show="{{countOfProduct}}" slides-to-scroll="{{countOfProduct}}" ng-class="{twoCards:twoProductsUpcoming && windowSize >500, oneCard:oneProductUpcoming  && windowSize >500}">
          <div class="col-xs-12 no collectionCard " ng-repeat="details in upcomingDeals">
            <div class="loadingForCard" ng-show="loading"></div>
            <spinner2 class="spinnerTwo" ng-show="loading"></spinner2>
            <div class="mainCollectionContainer collectionCardImage saleCardContainer">
              <span class="stripSection">SALE, {{details.available_quantity}} in Stock!</span>
              <div class="imageContainer col-xs-12 noPadding text-center">
                <div class="col-xs-12 noPadding imageLoadingBg saleImgBanner" ng-class="{collectionImage1:templatetype == 1,collectionImage2:templatetype==2,collectionImage3:templatetype==3} ">
                  <a href="/product/{{details.product_sku}}?upcoming=true" ng-click="upcomingDealsClick(details.product_sku,details.product_title )"><img ng-src="{{::details.product_image}}" ng-show="collectionImageLoaded" class="collectionScreenImg saleBannerImg" imageonload="collectionImageLoaded = true" ng-init="collectionImageLoaded=false" alt="{{::details.catalog_title}}" ng-click="gotoCollectionDetails(details.catalog_id)"></a>
                </div>
                <div class="col-xs-12 noPadding salesStartDate text-center ">
                  <div class="col-xs-12 text-center" style="padding:1px 0 10px 0"> Starts On</div>
                  <timer end-time="details.offer_sd" finish-callback="removeFromHotDeal($index)">
                    <span class="saleTimerCount">{{days|numberFixedLen:2}}</span> <span class="seprator">:</span>
                    <span class="saleTimerCount">{{hours|numberFixedLen:2}}</span> <span class="seprator">:</span>
                    <span class="saleTimerCount">{{minutes|numberFixedLen:2}}</span>
                    <span class="seprator">:</span><span class="saleTimerCount">{{seconds|numberFixedLen:2}}</span>
                  </timer>
                  <div class="col-xs-12 noPadding" style="padding-top:9px;"><span class="timerLabel">DD</span><span class="timerLabel">HH</span><span class="timerLabel">MM</span><span class="timerLabel">SS</span></div>

                </div>
                <!-- <div class="col-xs-12 noPadding text-center salesStartDate">{{details.offer_sd | date:'yyyy-MM-dd'}} Onwards</div> -->
                <timer end-time="details.offer_sd" finish-callback="removeFromUpcomingDeals($index)" style="display:none"></timer>
              </div>

              <div class="col-xs-12 salePdctDetals noPadding" ng-click="upcomingDealsClick(details.product_sku, details.product_title)">
                <a href="/product/{{details.product_sku}}?upcoming=true" >
                  <h1 class="col-xs-12 noPadding saleProductTitle">{{::details.product_title}}</h1>
                  <div class="col-xs-12 noPadding" style="margin: 20px 0;">
                    <span class="pull-left salePriceDesn"><strike>{{details.sales_price| currency:'&#8377;': "" : 0}}</strike></span>
                    <span class="pull-left saleOgPrice">{{details.flashsale_price| currency:'&#8377;': "" : 0}}</span>
                    <button class="btn btn-default viewOrBuy pull-right">View / Buy</button </div>
                </a>
                <div class="col-xs-12 collectionMaterial">
                </div>
                </div>
              </div>
            </div>

            <slick>
          </div>
      </div>
    </div>
