<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12  searchContainer">
  <div class=" col-xs-12 collctionGreyTxt text-center"> {{resultCount}} Results Found</div>
  <div class="col-xs-12 noPadding catalogResultsContainer">
    <div class="col-xs-12 ">
      <span class="pull-left collectionName">{{totalCatalogCount}} Collections Found</span>
      <span class=" pull-left line"></span>
      <span class="pull-right collectionMaterial" ng-if="catalogsCount" ng-click="viewAll('catalogs')"><span class="pull-right viewAll"> View All</span></span>
    </div>
    <div class="col-xs-12" data-ng-swipe-left="nextCatalogs()" data-ng-swipe-right="prevCatalogs()">
      <div id="prev-prods" ng-click="prevCatalogs()" ng-if="catalogsCount > limit"></div>
      <div id="next-prods" ng-click="nextCatalogs()" ng-if="catalogsCount > limit"></div>
      <collection-card details="collection" index="$index" templatetype="1" ng-repeat="collection in catalogs | limitTo:limit:begin"></collection-card>
    </div>
  </div>
  <div class="col-xs-12 noPadding ProductResultsContainer">
    <div class="col-xs-12">
      <span class="pull-left collectionName">{{totalProductCount}} Products Found</span>
      <span class="pull-left line"></span>
      <span class="pull-right collectionMaterial" ng-if="productsCount"><span class="pull-right viewAll" ng-click = "viewAll('products')"> View All</span></span>
    </div>
    <div class="col-xs-12 noPadding" data-ng-swipe-left="nextProds()" data-ng-swipe-right="prevElement()">
      <div class="prevElement" ng-click="prevProds()" ng-if="productsCount > prodLimit"></div>
      <div class="nextElement" ng-click="nextProds()" ng-if="productsCount > prodLimit"></div>
      <product-card product="product" catalogid="product.category_id" ng-repeat='product in products | limitTo:prodLimit:prodBegin'></product-card>
    </div>
  </div>
</div>
