<style>
md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input{
  background: url("../images/alert.127b235b.png") no-repeat 0 1px;
  background-position: right;
}
</style>

<div class="col-md-12 noPadding clearfix">
  <div class="col-md-6 noPadding smallscreenImg">
    <img src="../images/sample_img.9e886007.png" class="signUpSignInImg" ng-if="!$root.signUpImage" />
    <img src="{{$root.signUpImage}}" class="signUpSignInImg" ng-if="$root.signUpImage" />
  </div>
  <div class="col-md-6 signupCont">
    <div class="col-md-12 signHeadTxt">Signup with</div>
    <div class="col-md-12 clearfix">
      <a href="" ng-click="fbLogin()">
        <div class="facebookBttn clearfix"><img src="../images/fb.b19e6448.png" class="pull-left" /> <span class="pull-left">Facebook</span></div>
      </a>
    </div>
    <div class="col-md-12 text-center">OR</div>
    <div class="col-md-12 clearfix">
      <form name="userForm" ng-submit="userSignUp();" id="signUpForm" autocomplete="false" novalidate>
        <md-input-container class="md-block">
          <input ng-model="user.first_name" type="text" placeholder="Name*" autocomplete="false" required>
        </md-input-container>
        <md-input-container class="md-block">
          <input ng-model="user.mobile_number" type="number" ng-minlength="10" minlength="10" maxlength="10" ng-maxlength="10" autocomplete="off" placeholder="Mobile Number*" required>
        </md-input-container>
        <md-input-container class="md-block">
          <input ng-model="user.email" type="email" placeholder="Email*"  autocomplete="false" required ng-pattern="/^.+@.+\..+$/">
        </md-input-container>
        <md-input-container class="md-block">
          <input ng-model="user.password" type="{{inputType}}" placeholder="Password*" autocomplete="false" required>
          <icon ng-click="hideShowPassword()"><img src="../images/show.1da0a62a.png" /> </icon>
        </md-input-container>
        <div class="col-xs-12 errorNotify">{{error}}</div>
        <button type="submit" class="signupBttn btn btn-default col-xs-12" ng-disabled="userForm.$invalid">Signup</button>
      </form>
    </div>
    <div class="col-md-12 signupTxt">Already have an account? <a ng-click="clickToSignIn()" class="loginTxt">Login</a>
      <div>
        <div class="col-md-12 signBttmText">By clicking Signup you are indicating that you have read and agreed to the Terms of service and Privacy Policy </div>
      </div>
    </div>
  </div>
</div>
